body{
   
    background-color: rgb(238, 238, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: darkblue;

}
marquee {
     text-align: center;
     font-size: 40px;
}
.p1{
    color: cadetblue;
    background-color: rgb(89, 89, 141);
}
.p2{
    color: rgb(130, 183, 199);
    background-color: rgb(206, 224, 188);
}